* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    font-size: 62.5%
}

@media only screen and (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%
    }
}
body{
    font-family: "Lato", sans-serif;   
}
.register{
    background-color:#e64e66;
    width: 100%;
   background-position:center;
   background-size: cover;
    height: 40vh;
}
.r-heading{
     color:white;
     font-family:'Roboto', sans-serif;
     text-align: center;
     top:10vh;
    position:absolute;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: .3rem; 
    
}


.flex {
  min-height:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
a.bttn {
  color:#e64e66;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;}
a.bttn:hover {
    color:#FFF;
  }

.bttn {
  font-size:17px;
   background-color:white;
  letter-spacing:2px;
  display:inline-block;
  text-align:center;
  width:170px;
 /* font-weight:bold;*/
  padding:14px 0px;
  border:3px solid white;
  border-radius:40px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);}

  .bttn:hover {
    background-color:#e64e66;
    letter-spacing:2.3px;
    padding-right: 10px;
  }
  
.bttn:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -18px;
  top:13px;
  transition: 0.5s ease-out;

}
.bttn:hover:after {
    
  opacity: 1;
  right: 10px;
}

